<h1> {{room.id == null ? 'Add' : 'Edit'}} Room</h1>

<div *ngIf="msg" class="bg-warning p-5">{{msg}}</div>

<form [formGroup]="formGroup">
  <div class="form-group">
    <label for="name">Name</label>
    <input formControlName="nameFormControl" required id="name" class="form-control" placeholder="room name"
      type="text">
    <div *ngIf="formGroup.controls['nameFormControl'].invalid && formGroup.controls['nameFormControl'].dirty"
      class="alert alert-danger">Name can not be blank</div>

  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input formControlName="locationFormControl" placeholder="location" id="location" class="form-control" type="text">
    <div *ngIf="formGroup.controls['locationFormControl'].invalid && formGroup.controls['locationFormControl'].dirty"
      class="alert alert-danger">Location can not be blank</div>
  </div>

  <h2>This room can accomodate:</h2>

  <div *ngFor="let layout of layouts" class="form-group" [formGroup]="formGroup">
    <label>{{ layoutEnum[layout] }}</label>
    <input type="number" class="form-control" id="layout{{layout}}" formControlName="layout{{layout}}">
  </div>

  <button (click)="onSubmit()" [disabled]="formGroup.invalid" type="button" class="btn btn-primary">Save</button>
</form>
