<div class="userDetails">
  <h2>User details</h2>
  <a class="btn btn-small btn-warning" (click)="editUser()">edit</a>
  <a class="btn btn-small btn-warning" (click)="deleteUser()">delete</a>
  <div *ngIf="msg" class="bg-warning p-5">{{msg}}</div>
  <table>
    <tr>
      <td>id</td>
      <td>{{u?.id}}</td>
    </tr>
    <tr>
      <td>name</td>
      <td>{{u?.name}}</td>
    </tr>
    <tr>
      <td>Password</td>
      <td><a class="btn btn-small btn-warning" (click)="resetPassword()">reset</a></td>
    </tr>
  </table>
</div>
