<h1>Room Booking System</h1>
<h2>The following meetings are taking place on: <input type="date" (change)="dateChanged()" [(ngModel)]="selectedDate"
    name="selectedDate" /></h2>
<button (click)="addBooking()" class="btn btn-primary mt-3 mb-5 ">New Booking</button>

<div *ngIf="msg" class="bg-warning p-5">{{msg}}</div>

<div *ngIf="isDataLoaded">
  <h3 *ngIf="bookings?.length === 0" class="mt-5">There are no meetings currently scheduled for this date.</h3>

  <div *ngFor="let booking of bookings" class="row row-striped">
    <div class="col-2 d-flex flex-column">
      <h1 class="display-6 d-inline-flex">
        <span class="badge bg-primary">{{ formatDate(booking.date) | date:'dd'}}</span>
      </h1>
      <h2>{{ formatDate(booking.date) | date:'MMM' | uppercase}}</h2>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>{{booking.title}}</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item">
          <i class="fa fa-calendar-o" aria-hidden="true"></i> {{booking.date | date:'EEE'}}
        </li>
        <li class="list-inline-item">
          <i class="fa fa-clock-o" aria-hidden="true"></i> {{booking.startTime}} - {{booking.endTime}}
        </li>
        <li class="list-inline-item">
          <i class="fa fa-location-arrow" aria-hidden="true"></i> {{booking.room.name}}
        </li>
      </ul>
      <div class="row">
        <div class="col-6">
          <p class="mb-0">Booked by : {{booking.user.name}}</p>
          <p class="mb-0">Room layout: {{booking.layout}}</p>
          <p>Participants: {{booking.participants}}</p>
        </div>
        <div class="col-6">
          <a class="btn btn-warning" (click)="editBooking(booking.id)">Amend</a>
          <a class="btn btn-danger" (click)="deleteBooking(booking.id)">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
