::-webkit-datetime-edit { padding: 4px; }
/* ::-webkit-datetime-edit-fields-wrapper { background: silver; } */
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
/* ::-webkit-datetime-edit-month-field { color: blue; } */
/* ::-webkit-datetime-edit-day-field { color: green; } */
/* ::-webkit-datetime-edit-year-field { color: purple; } */
/* ::-webkit-inner-spin-button { display: none; } */
/* ::-webkit-calendar-picker-indicator { background: orange; } */
