<!-- <h1><span *ngIf="u.id == null">Add</span><span *ngIf="u.id != null">Edit</span> User</h1> -->
<h1>{{u?.id == null ? 'Add' : 'Edit'}} User</h1>

<div *ngIf="warningMsg" class="bg-warning p-5">{{warningMsg}}</div>

<form #userForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input  #nameField="ngModel" [(ngModel)]="formUser.name" (change)="checkIfNameIsValid()"
            placeholder="user name" type="text" required
            id="name" name="name" class="form-control">
    <div *ngIf="nameField.invalid && nameField.touched" class="alert alert-danger">The name is a required field!</div>
    <div *ngIf="!nameIsValid && nameField.touched" class="alert alert-danger">The name can not be blank!</div>
  </div>

  <div *ngIf="u?.id == null" class="form-group">
    <label for="password">Password</label>
    <input #pass1="ngModel" [(ngModel)]="password" (change)="checkIfPasswordsAreValidAndMatch()"
            placeholder="password" type="password" required
            id="password" name="password" class="form-control" />
    <div [hidden]="pass1.valid || pass1.untouched" class="alert alert-danger">Password is required!</div>
    <div [hidden]="passwordsAreValid || pass1.untouched" class="alert alert-danger">Password can not be blank!</div>

    <label for="confirmationPassword">Password</label>
    <input  #pass2="ngModel" [(ngModel)]="confirmationPassword" (change)="checkIfPasswordsAreValidAndMatch()"
            placeholder="confirm password" type="password" required
            id="confirmationPassword" name="confirmationPassword" class="form-control"/>
    <div [hidden]="passwordsMatch" class="alert alert-danger">Password does not match!</div>
  </div>

  <button (click)="onFormSubmit()" [disabled]="userForm.invalid || !nameIsValid || !passwordsAreValid || !passwordsMatch"
          type="button" class="btn btn-primary">Save</button>
</form>
