.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}
.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}
.row-striped {
  padding: 15px 0;
}
.dropdown-item, .navbar-brand {
  cursor: pointer;
}
a{
  margin: 5px;
}
