<h1>Users Admin</h1>
<button class="btn btn-warning mb-3"  (click)="addNewUser()">add</button>
<div class="row">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td><button (click)="setSelectedUser(user.id)" type="button" class="btn btn-primary">view</button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!isDataLoaded"><strong>{{msg}}</strong></div>
  </div>
  <div class="col-6">
    <app-user-detail  *ngIf="action === 'view'" [u]="selectedUser" (dataChangedEvent)="loadData()"></app-user-detail>
    <app-user-edit    *ngIf="action === 'edit' || action === 'add'" [u]="selectedUser" (dataChangedEvent)="loadData()"></app-user-edit>
  </div>
</div>
